<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="main.css">
</head>
<nav class="nav">
    <ul>
        <li><a href="cadastro_usuario.html">Cadastro de Usuário</a></li>
        <li><a href="listar_usuario.html">Lista de Usuários</a></li>
        <li><a href="editar_usuario.html">Editar Usuários</a></li>
        <li><a href="cadastro_produto.html">Cadastro de Produtos</a></li>
        <li><a href="listar_produtos.html">Lista de Produtos</a></li>
        <li><a href="editar_produtos.html">Editar Produto</a></li>
      </ul>
  </nav>
<div class="div">
    <form class="form">
        <h1>Cadastro de Produto</h1>
        <label for="nome">Nome do Produto</label>
        <input type="nome" placeholder="Insira o nome do produto">
        <label for="preco">Preço do Produto</label>
        <input type="preco" placeholder="Insira o preço do produto">
        <label for="id">Quantia de Produto</label>
        <input type="id" placeholder="Insira a quantidade de produtos">
        <input type="submit" value="Cadastrar" class="btn" />
    </form>
</div>

</html>

