<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="main.css">
</head>
<nav class="nav">
    <ul>
      <li><a href="cadastro_usuario.html">Cadastro de Usuário</a></li>
      <li><a href="listar_usuario.html">Lista de Usuários</a></li>
      <li><a href="editar_usuario.html">Editar Usuários</a></li>
      <li><a href="cadastro_produto.html">Cadastro de Produtos</a></li>
      <li><a href="listar_produtos.html">Lista de Produtos</a></li>
      <li><a href="editar_produtos.html">Editar Produto</a></li>
    </ul>
  </nav>
<div class="div">
    <form class="form">
        <h1>Lista de Usuário</h1>
    
        <label for="nome">Lista de Usuários</label>
        <p>Faustino</p>
        <p>Luis</p>
        <p>Vinicius</p>
        <input type="button" onclick="location.href='editar_usuario.html'" value="Editar" class="btn" />
        <input type="submit" value="Excluir" class="btn" />
    </form>
    
</div>

</html>